
.topic {
	width: 48%;
	display: inline-block;
	border-bottom: 2px solid gray;
	text-align: center;
	margin-bottom: 5px;
}

/*accordion*/
	#accordion {
		width: 48%;
		display: inline-block;

	}
		#accordion p {
			display: inline-block;
		}
		#accordion div {
			height: auto;
		}
/*Tabs*/
	#jquerytab{
		width: 48%;
		display: inline-block;
		vertical-align: top;
	}

	  #dialog label, #dialog input { display:block; }
	  #dialog label { margin-top: 0.5em; }
	  #dialog input, #dialog textarea { width: 95%; }
	  #tabs { margin-top: 1em; }
	  #tabs li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }
	  #add_tab { cursor: pointer; }
